.finger {
  text-align: center;
  padding-top: 35px;
  color: #FF69B4;
  font-family:"游ゴシック Medium","Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",sans-serif;
  font-weight: bold;
}

.loginPage {
  &_contents {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    &_title {
      margin-top: 12vh;
      font-family:"游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
      font-weight: bold;
      color: #FF69B4;
    }
    &_btn {
      display: block;
      max-width: 400px;
      padding: 20px;
      margin: 0 auto;
      border-radius: 30px;
      background: #FF69B4;
      color: #fff;
    }
  }
}
